@media all and (min-width: 480px) {
  .Login form {
    width: 500px;
    margin: 0 auto;
    max-width: 450px;
  }

  .submitButton{
    margin-top: 10px;
  }

  .Label{
    font-size: 22px;
    font-weight: 500;
  }

  /* Styles for email and password input boxes */

  .form-control{
    background-color: #3D3D3D;
    color: white;
    border: none;
  }

  .form-control:hover{
    background-color: #1F1F1F;
    color: white;
  }

  .form-control:focus{
    background-color: #1F1F1F;
    color: white;
    border-bottom: 2px solid #004747;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}