.NavBar{
  background-color: #1F1F1F;
  color: white;
}

#NavBrand{
  margin-left: 10px;
  font-weight:600;
  color: white;
}

/* Welcome Login Section */

.WelcomePageContainer{
  position: absolute;
  right: 0px;
  height: 100vh;
  width: 80vw;
  background-color: #252423;
}

.Welcome{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 450px;
  margin: -225px 0 0 -225px;

  color: white;
  background-color: #252423;
  font-weight: 900;
  font-size: 32px;
}

.Title{
  text-align: center;
}

.Description{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: white;
  background-color: #252423;
}

/* OffCanvas */

.OffCanvas{
  position: absolute;
  left: 0px;
  width: 20vw;
  height: 100vh;
  background-color: #1F1F1F;
}

.iPhoneImage {
  padding-top: 25%;
  /* display: block; */
  /* vertical-align: middle; */
  margin: auto;
  /* position: absolute;
  top: 20%;
  left: 0%; */
  width: 20vw;
  height: auto;
}

.Message{
  text-align: center;
  font-size: xx-large;
  font-weight: 600;
  color: white;
}

.OffCanvasHeader{
  justify-content: center;
}

.OffCanvasTitle{
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
