#NavBrand{
  margin-left: 10px;
  font-weight:600;
}

.modal-content{
  width: 25vw;
  min-width: 400px;
  max-width: 400px;
  background-color: #252423;
  color: white;
  border: none;
}

.modal-title{
  text-align: center;
  font-weight: 900;
  font-size: 32px;
}